
.custom-btn {

  position: relative;
  background: 0 0;
  border: 1px solid #1b8057;
  color: #1b8057;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  padding: 17px 36px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  letter-spacing: .5px;
  overflow: hidden;
  transform: perspective(1px)translateZ(0);
}

.custom-btn:hover {
  transition: all .21s ease-in-out;
  color: #fff;
  background-color: #1b8057;
}